/* 
 * makealive.css
 * 
 * Styles for docs and examples pages
 *
*/

/* Generic componenets */
body {
    font-size: 16px;
    padding-bottom: 96px;
    line-height: 1.65em;
}

h1 {    
    margin-top: 1em;
    margin-bottom: 1em;
}
h2, h3 {
    margin-top: 1.5em;    
}
h1, h2, h3 {
    color: #1a1a1a;
}
p {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

/* Table used in docs */
table.intro {
    margin-top: 0.3em;
    /** margin-bottom: 0.5em; **/
    font-size: 16px;
}

/* Tables used at the top of example pages */
table {
    margin-top: -0.3em;
    /* margin-bottom: 0.5em; */
    font-size: 14px;
}
td {
    padding-right: 16px;
    line-height: 22px;
}
td.table-label {
    color: #777777;    
}
td.makealive-pro {
    background: #f9f2f4;
    color: #000000;
}


/* code+preview rows */
div.codepreview {
    margin-top: 24px;
    margin-bottom: 12px;
}


/* Code blocks */
pre {
    font-size: 14px !important;
    line-height: 1.4 !important;
    margin-top: -0.5em;
}


/* components on the examples - Try it section */
hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border-top: 1px solid #aaaaaa;
}
textarea {
    font-size: 12px;
}
label {    
    margin-bottom: 10px;
}

/* components on library page */
.library {
    margin-top: 24px;    
}
div.thumbnail {
    cursor: pointer;
}
.caption {
    font-size: 20px;
}

/* output of makealive */
div.makealive {
    margin-bottom: 14px; 
    margin-top: 14px;
}
/* output of makealive on example pages */
.codepreview div.makealive {
    margin-top: 0px;
}
